.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 300px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;

  color: white;

  padding: 10px;

  border: none;
  outline: none;

  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    h1 {
      padding-left: 20px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
