.resizeHandle {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
  background-color: transparent;
}

.toolbar {
  width: 250px;
  overflow: hidden;
  position: relative;
}

.toolbar .toolbar-section-main {
  max-height: 20%;
  display: none !important;
  overflow-y: scroll;
}
