.childrenContainer {
  display: flex;
  width: 100%;
}

.childrenContainer div {
  z-index: 0;
}

.childrenContainer div * {
  z-index: -100;
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 50%;
  height: 60%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  padding: 20px;
  border-radius: 5px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  color: white;
}

.customFileUpload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.fileUpload {
  display: none;
  width: 0;
  height: 0;
}

.radioInputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: var(--primery-color);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 90%;
  font-size: 14px;
  margin-bottom: 30px;
}

.radioInputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radioInputs .radio input {
  display: none;
}

.radioInputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: var(--nav-text-color);
  transition: all 0.15s ease-in-out;
}

.radioInputs .radio input:checked + .name {
  background-color: var(--highlight-color);
  font-weight: 600;
}

.modalMainSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.cropperContainer {
  margin-top: 15px;
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.uploadLabel {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--marked-color);
}
