.childrenContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 50%;
  height: 50%;
  background-color: #21252b;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  border: 1px solid white;
}

.customFileUpload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.fileUpload {
  display: none;
}
